API/Licgen/XSD/Sentinel_Provisional.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
Note: This schema is applicable for Sentinel LDK product suite.
-->
<xs:schema
      xmlns="http://www.safenet-inc.com/sentinelldk"
      targetNamespace="http://www.safenet-inc.com/sentinelldk"
      xmlns:sentinel_ldk="http://www.safenet-inc.com/sentinelldk"
      xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:simpleType name="SchemaVersionType">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{1}\d?\.\d{1}\d?" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ProductNameType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ProductIdType">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="0" />
         <xs:maxInclusive value="65471" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="FeatureNameType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="FeatureIdType">
      <xs:restriction base="xs:positiveInteger">
         <xs:minInclusive value="1" />
         <xs:maxInclusive value="65471" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="EnforcementType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="SL-AdminMode" />
         <xs:enumeration value="SL-UserMode" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="DaysToExpirationType">
      <xs:restriction base="xs:positiveInteger">
         <xs:minInclusive value="1" />
         <xs:maxInclusive value="3650" />
      </xs:restriction>
   </xs:simpleType>
   
   <xs:simpleType name="ExecutionCountType">
      <xs:restriction base="xs:positiveInteger">
         <xs:minInclusive value="1" />
         <xs:maxInclusive value="16777215" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ExpirationDateType">
      <xs:restriction base="xs:date">
         <xs:minInclusive value="1980-01-01" />
         <xs:maxInclusive value="2091-12-31" />
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="PerpetualType">
   </xs:complexType>

   <xs:simpleType name="RemoteDesktopAccess">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Yes" />
         <xs:enumeration value="No" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="VirtualMachineAccess">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Yes" />
         <xs:enumeration value="No" />
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="LicensePropertiesType">
      <xs:sequence>
         <xs:choice>
            <xs:element name="days_to_expiration" type="sentinel_ldk:DaysToExpirationType" minOccurs="0" />
            <xs:element name="execution_count" type="sentinel_ldk:ExecutionCountType" minOccurs="0" />	    
            <xs:element name="expiration_date" type="sentinel_ldk:ExpirationDateType" minOccurs="0" />
            <xs:element name="perpetual" type="sentinel_ldk:PerpetualType" minOccurs="0" />
         </xs:choice>
         <xs:element name="remote_desktop_access" type="sentinel_ldk:RemoteDesktopAccess" minOccurs="0" />
         <xs:element name="virtual_machine_access" type="sentinel_ldk:VirtualMachineAccess" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="FeatureType">
      <xs:sequence>
         <xs:element name="id" type="sentinel_ldk:FeatureIdType" />
         <xs:element name="name" type="sentinel_ldk:FeatureNameType" minOccurs="0" />
         <xs:element name="license_properties" type="sentinel_ldk:LicensePropertiesType" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

      <xs:complexType name="ROMemorySegmentType">
      <xs:sequence>
         <xs:element name="offset">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="0" />
                  <xs:maxInclusive value="2047" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="content">
            <xs:simpleType>
               <xs:restriction base="xs:base64Binary">
                  <xs:maxLength value="2048" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="RWMemorySegmentType">
      <xs:sequence>
         <xs:element name="offset">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="0" />
                  <xs:maxInclusive value="4031" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="content">
            <xs:simpleType>
               <xs:restriction base="xs:base64Binary">
                  <xs:maxLength value="4032" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="MemorySegmentType">
      <xs:sequence>
         <xs:element name="offset">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="0" />
                  <xs:maxInclusive value="65534" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="content">
            <xs:simpleType>
               <xs:restriction base="xs:base64Binary">
                  <xs:minLength value="1" />
                  <xs:maxLength value="2097152" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="BaseISVMemoryType">
      <xs:sequence>
         <xs:element name="file_id">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="65471" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="size" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt">
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="2097152" />
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment" type="sentinel_ldk:MemorySegmentType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ISVMemoryAction">
      <xs:complexContent>
         <xs:extension base="sentinel_ldk:BaseISVMemoryType">
            <xs:attribute name="action">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="set" />
                     <xs:enumeration value="cancel" />
                  </xs:restriction>
               </xs:simpleType>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   
   <xs:complexType name="ISVMemoryType">
      <xs:complexContent>
         <xs:extension base="sentinel_ldk:ISVMemoryAction">
            <xs:attribute name="attribute">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="ro" />
                     <xs:enumeration value="rw" />
                     <xs:enumeration value="rwo" />
                  </xs:restriction>
               </xs:simpleType>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   
   <xs:complexType name="DynamicResourceType">
      <xs:sequence>
         <xs:element name="isv_memory"  type="sentinel_ldk:ISVMemoryType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="MemoryType">
      <xs:sequence>
         <xs:element name="ro_memory_segment" type="sentinel_ldk:ROMemorySegmentType" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="rw_memory_segment" type="sentinel_ldk:RWMemorySegmentType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ProductType">
      <xs:sequence>
         <xs:element name="id" type="sentinel_ldk:ProductIdType" />
         <xs:element name="name" type="sentinel_ldk:ProductNameType" minOccurs="0" />
         <xs:element name="feature" type="sentinel_ldk:FeatureType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>   
   
   <xs:complexType name="ContractInfoType">
      <xs:sequence>
         <xs:element name="issued_to" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="issuer" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="issued_on" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
         <xs:element name="agreement" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:simpleType name="ReadableLicenseType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Yes" />
         <xs:enumeration value="No" />
      </xs:restriction>
   </xs:simpleType>

  <xs:simpleType name="MinimumRTEVersion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="6.40" />
      <xs:enumeration value="7.50" />
      <xs:enumeration value="7.60" />
      <xs:enumeration value="7.100" />
      <xs:enumeration value="8.11" />
    </xs:restriction>
  </xs:simpleType>

   <xs:simpleType name="LicenseTypesList">
      <xs:restriction base="xs:string">
         <xs:enumeration value="expiration_date" />
         <xs:enumeration value="days_to_expiration" />
         <xs:enumeration value="global" />
         <xs:enumeration value="concurrency" />
         <xs:enumeration value="execution_count" />
         <xs:enumeration value="trial" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="SupportedPlatformList">
      <xs:restriction base="xs:string">
         <xs:enumeration value="docker" />
         <xs:enumeration value="ec2" />
         <xs:enumeration value="azure" />
         <xs:enumeration value="all" />
      </xs:restriction>
   </xs:simpleType>
   
   <xs:complexType name="PlatformTypes">
      <xs:sequence>
         <xs:element name="name" type="sentinel_ldk:SupportedPlatformList" minOccurs="0" maxOccurs="4"/>
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="LicenseTypes">
      <xs:sequence>
         <xs:element name="type" type="sentinel_ldk:LicenseTypesList" minOccurs="0" maxOccurs="6"/>
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="SSIDFLAGTypes">
      <xs:sequence>
         <xs:element name="supported_platforms" type="sentinel_ldk:PlatformTypes" minOccurs="0" maxOccurs="1"/>
         <xs:element name="license_properties" type="sentinel_ldk:LicenseTypes" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   
   <xs:element name="license">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="readable_license" type="sentinel_ldk:ReadableLicenseType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contract_info" type="sentinel_ldk:ContractInfoType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="enforcement_type" type="sentinel_ldk:EnforcementType"/>
            <xs:element name="ignore_secure_storage_id_check" type="sentinel_ldk:SSIDFLAGTypes" minOccurs="0" maxOccurs="1" />
            <xs:element name="minimum_rte_api_version" type="sentinel_ldk:MinimumRTEVersion" minOccurs="0" maxOccurs="1" />
            <xs:element name="product" type="sentinel_ldk:ProductType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="memory" type="sentinel_ldk:MemoryType" minOccurs="0" maxOccurs="1" />
            <xs:element name="dynamic_resource" type="sentinel_ldk:DynamicResourceType" minOccurs="0" maxOccurs="1" />
         </xs:sequence>
         <!-- Current version is 1.0 -->
         <xs:attribute name="schema_version" type="sentinel_ldk:SchemaVersionType" use="required" />
      </xs:complexType>
   </xs:element>
</xs:schema>